<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shirzabolotnyklein.nyquistoptics">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/nyquist_optics_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".View.CalcFocalLengthFOV"></activity>
        <activity android:name=".View.CalcFocalLengthTarget" />
        <activity android:name=".View.CalcDimensionActivity" />
        <activity android:name=".View.CalcTargetSizeActivity" />
        <activity
            android:name=".View.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.CalcFovActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.SettingsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity android:name=".View.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>