<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shirzabolotnyklein.nyquistoptics">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/optarget"
        android:label="Op Target"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".View.CalcFocalLengthFOV" android:label="" ></activity>
        <activity android:name=".View.CalcFocalLengthTarget" android:label="" />
        <activity android:name=".View.CalcDimensionActivity"  android:label="" />
        <activity android:name=".View.CalcTargetSizeActivity"  android:label="" />
        <activity android:name=".View.CalcDRIActivity"  android:label="" />
        <activity
            android:name=".View.MainActivity"
            android:label=""

            android:screenOrientation="portrait" />
        <activity
            android:name=".View.CalcFovActivity"
            android:label=""

            android:screenOrientation="portrait" />
        <activity
            android:name=".View.SettingsActivity"
            android:label=""

            android:screenOrientation="portrait" />
        <activity android:name=".View.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>